@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Dosis&family=Merriweather:ital@1&family=Montserrat:wght@300&family=Nunito:wght@700&family=PT+Sans&family=Roboto+Slab&family=Roboto:ital,wght@0,300;0,400;1,400&family=Work+Sans:ital,wght@0,300;0,500;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Dosis&family=Merriweather:ital@1&family=Mochiy+Pop+One&family=Montserrat:wght@300&family=Nunito:wght@700&family=PT+Sans&family=Roboto+Slab&family=Roboto:ital,wght@0,300;0,400;1,400&family=Work+Sans:ital,wght@0,300;0,500;1,300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: "Noto Serif";
}
:root {
    --primary: #feb447;
    --background: #fcfdd1;
    --secondary: #feddaa;
    --white: #ffffff;
    --icon: #feb447;
}body{
    background: var(--background);
}
.po-up-continer{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    visibility: hidden;
    /* display: none; */
    display: flex;
    justify-content: center;
    background-color: rgb(219 219 219 / 46%);
    position: fixed;
}
.po-up{
display: flex;
flex-direction: column;
align-items: center;
position: relative;
background-color: var(--primary);
width: 40%;
border-radius: 40px;
margin: 4rem;
padding: 2rem;
}
.po-up ion-icon{
    position: absolute;
    right: 14%;
    top: 5%;
font-size: 2rem;
font-weight: bold;
cursor: pointer;
}
.po-up h3{
    font-size: 30px;
    padding: 2rem;
    font-family: "Mochiy Pop One";
}
.po-up p{
    line-height: 35px;
    font-size: larger;
    padding: 0 2rem;
}
header{
    font-family: "Mochiy Pop One";
    font-size: larger;
    font-weight: lighter;
    font-size: 3rem;
    color: var(--primary);
    text-align: center;
    padding: 1rem;
}
.container{
    min-height: 10vh;
    padding-left: 6rem;
}
.food-wrapper{
    max-width: 1280px;
    margin: 0 auto;
    padding-left: 15rem;
    text-align: center;

}
.as{
    padding-left: 2rem;
}
.food-search{
    margin: 1rem 0;
}

.food-search-box{
    margin: 1.2rem 0;
    display: flex;
    align-items: stretch;
}
.search-control,
.search-btn{
    width: 50%;
    align-items: center;
}
.search-control{
    padding: 0 1rem;
    font-size: 1.1rem;
    font-family: inherit;
    outline: 0; 
    border: 1px solid wheat;
    color: orange;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
}
.search-control::placeholder{
    color:#feb447;
}
.search-btn{
    width: 55px;
    height: 55px;
    font-size: 1.8rem;
    background: #feb447;
    color: #fff;
    border: none;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
 transition: all 0.4s ;
 cursor: pointer;
}
.search-btn:hover{
    transform: translate3D(0, -5px, 0);
}


.card-continer {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    border-radius: .5rem;
box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.card-continer .card {
    padding: 1rem;
    padding-left: 1rem;
width: 45%;
display: flex;
justify-content: space-between;

}
.card-continer .card img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    transition: all 0.3s linear;
}
.card-continer .card img:hover {
    box-shadow: 2px 8px 45px var(--icon);
    transform: translate3D(0, -9px, 0);
  }
.card-continer .card .info{
    width: 70%;
    padding-top: 2rem;
    height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.card-continer .card .info h3{
    margin: 1rem 0;
    font-family: "Mochiy Pop One";
    font-size: larger;
    font-weight: lighter;
    color: var(--primary);
}
.card-continer .card .info p{
    font-weight: 400;
    font-size: large;
    padding-bottom: 1rem;
}
.buttons{
    width: 100%;
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
}
.buttons button a{
    text-decoration: none;
    color: white;
}
.buttons button{
    width: 6rem;
    height: 4rem;
    border-radius: 2rem;
    color: var(--primary);
    text-align: center;
    font-size: small;
    cursor: pointer;
    color: white;
    background: var(--icon);
    font-family: "Mochiy Pop One";
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

}

.buttons button:hover , .buttons button a:hover{
    color: var(--primary);
    font-weight: bolder;
    background: #ffffff;
} 

@media(max-width: 980px){
    .card-continer{
        flex-direction: column;
        flex-wrap: wrap;
    }
    .card-continer .card{
        width: 90%
    }
}

@media(max-width :600px){
    .card-continer{
        width: 100%;
        border: none;
    }
    .card-continer .card img{
        width: 50%;
        height: 50%;
    }
    .card-continer .card .info{
        width:40%;
        height: 40%;
        padding-top:0;
    }
    .card-continer .card {
        width:100%;
        box-shadow: 2px 8px 45px rgba(0, 0, 0, 0.15);
        
    }
    .food-wrapper{
        padding-left: 0;
    }
    .container{
        padding-left: 2rem;
    }

}